{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">

        <meta name="twitter:card" content="description">
        <meta name="twitter:site" content="@site_username">
        <meta name="twitter:creator" content="@creator_username">
        {% if page.title %}
          <meta name="twitter:title" content="{{ page.title }}">
        {% else %}
          <meta name="twitter:title" content="{{ site.title }}">
        {% endif %}
        {% if page.url %}
          <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        {% endif %}
        {% if page.description %}
          <meta name="twitter:description" content="{{ page.description }}">
        {% else %}
          <meta name="twitter:description" content="{{ site.description }}">
        {% endif %}
        {% if page.image %}
          <meta name="twitter:image:src" content="{{ site.url }}/assets/images/{{ page.image }}">
        {% else %}
          <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/profile.jpg">
        {% endif %}
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
